@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,300&display=swap');
html, body {
	font-family: 'Kanit', sans-serif;
	height: 100%;
	margin: 0;
}
.navbar{
	background-image: url("nav.png");
	height: 80px;
}
.navbar-brand{
	background-image: url("logo.png");
}
.logo{
	width: 70px;
	height: 70px;
}
.btn{
	background-color: #F2E0DF !important;
	border-color: #F2E0DF !important;
	border-radius: 30px;
}
a{
	color: #212529;
}
#homebackgroud{
	width: 60%;
	height: 80%;
}
#divhome1{
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

#divhome2{
	-webkit-box-shadow: -30px 2px 43px -17px rgba(133,133,133,1);
	-moz-box-shadow: -30px 2px 43px -17px rgba(133,133,133,1);
	box-shadow: -30px 2px 43px -17px rgba(133,133,133,1);
	height: auto;
}
#footer{
	background-color: #5B5754;
	display: flex;
	justify-content: center;
	align-items: center;

}
#divfooter{
	background-color: #5B5754!important;
}
p1{
	color: #F9F9F9;
}
#maindiv{
	width: 100%;
	height: 88%;
}
