@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');
html, body {
	font-family: 'Kanit', sans-serif;
	height: 100%;
	margin: 0;
}
.navbar{
	background-image: url("nav.png");
	height: 80px;
}

.logo{
	width: 70px;
	height: 70px;
}
.btn{
	background-color: #F2E0DF !important;
	border-color: #F2E0DF !important;
	border-radius: 30px;
}
.btn_ins{
	background-color: #F2E0DF !important;
	border-color: #F2E0DF !important;
	border-radius: 30px;
	width: 15%;
}

#footer{
	background-color: #5B5754;
	display: flex;
	justify-content: center;
	align-items: center;

}
#divfooter{
	background-color: #5B5754!important;
}
p1{
	color: #F9F9F9;
}

.create{
	width: 100%;
	height: 88%;
	background-color: #F2E0DF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.div1{
	background-color: white;
	width: 85%;
	height: 80%;
	border-radius: 20px;
	padding: 20px;
}
h1{
	font-weight: bold;
}

.start_att {
	color: white !important;
	background-color: #DD8F78 !important;
}

.start_att2 {
	color: #DD8F78 !important;
	border-color: #DD8F78 !important;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #F2E0DF;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #F2E0DF;
  color: white;
}

.modal-body {
	padding: 2px 16px;
}

#createbtn{
	background-color: #DD8F78!important;
}